button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: $font__line-height-body * 1rem;
	background: $color__background-button;
	color: #ffffff;;
	line-height: 1;
	padding: 0.6em 1em;

	&:hover,
	&:focus {
		background: $color__border-button-hover;
		border-color: $color__border-button-hover;
	}
}
.is-style-outline > .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.is-style-outline:not(.has-text-color) {
	border-color: $color__border-button;
	color: $color__background-button;

	&:hover,
	&:focus {
		background: $color__border-button-hover;
		border-color: $color__border-button-hover;
		color: #ffffff;
	}
}
