ul,
ol {
	margin: 0 0 $font__line-height-body * 1rem $font__line-height-body * 2rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $font__line-height-body * 1rem;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 $font__line-height-body * 1rem $font__line-height-body * 1rem;
}
