// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Tint: Add percentage of white to a color
@function tint($color, $percent) {
	@return mix(white, $color, $percent);
}

// Shade: Add percentage of black to a color
@function shade($color, $percent) {
	@return mix(black, $color, $percent);
}
