.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: $font__line-height-body * 1rem;
	margin-bottom: $font__line-height-body * 1rem;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: $font__line-height-body * 1rem;
	margin-bottom: $font__line-height-body * 1rem;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: $font__line-height-body * 1rem;
}
