$blue:   #0d3b66;
$green:  #629460;
$red:    #d05353;
$yellow: #f4d35e;
$orange: #ee964b;
$grey:   #838383;

$notice:  #114a80;
$success: #379434;
$caution: #f4d35e;
$warning: #d12a2a;

// Color gradations
$level1: 30; // shade & tint defined presets
$level2: 50;
$level3: 70;

$color__background-body:   #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr:     #ccc;
$color__background-button: shade($red, $level1);
$color__background-pre:    #eee;
$color__background-ins:    #fff9c0;

$color__text-screen:       #21759b;
$color__text-input:        $grey;
$color__text-input-focus:  shade($grey, $level3);
$color__link:              shade($red, $level1);
$color__link-visited:      shade($red, $level1);
$color__link-hover:        shade($red, $level2);
$color__text-main:         shade($grey, $level2);

$color__border-button:       shade($red, $level1);
$color__border-button-hover: shade($red, $level2);
$color__border-button-focus: shade($red, $level2);
$color__border-input:        #ccc;
$color__border-abbr:         #666;
