.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 $font__line-height-body * 1rem;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $font__line-height-body * 1rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $font__line-height-body * 1rem;
}
